.custom-gallery .advance-custom-gallery-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1em;
  background-color: #fafafa;
  height: 368px;
}
.custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper {
  position: relative;
  z-index: 1;
  display: block;
  width: 368px;
  height: 368px;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper {
    display: none !important;
  }
}
.custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper .selected-image {
  width: 368px;
  height: 368px;
  min-width: 368px;
  min-height: 368px;
}
.custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper .selected-image:hover {
  cursor: pointer;
}
.custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper .open-gallery-control {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 20px;
  height: auto;
  background-color: #315e88;
  color: white;
  padding: 0 4px;
  border-radius: 6px;
  box-sizing: border-box;
}
.custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper .open-gallery-control svg {
  width: 15px;
}
.custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper .open-gallery-control:hover {
  cursor: pointer;
}
.custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper #selected-image-zoom-view {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 5;
  width: 368px;
  height: 368px;
  display: none;
  background-repeat: no-repeat;
  background-color: #fff;
}
.custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper .zoom-highlight-area {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  pointer-events: none;
}
.custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper:has(.selected-image:hover) #selected-image-zoom-view {
  display: block;
}
.custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper:has(.selected-image:hover) .zoom-highlight-area {
  display: block;
  cursor: zoom-in;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-wrapper .selected-image-wrapper {
    display: none !important;
  }
}
.custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper {
    gap: 12px;
  }
}
.custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper .thumbnail-wrapper {
  position: relative;
}
.custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper .thumbnail-wrapper .image-thumbnail {
  width: 110px;
  height: 110px;
  object-fit: contain;
  background-color: white;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  display: block;
  z-index: 1;
}
.custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper .thumbnail-wrapper .image-thumbnail:hover, .custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper .thumbnail-wrapper .image-thumbnail.thumbnail-selected {
  border-color: #315e88;
  cursor: pointer;
}
.custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper .thumbnail-wrapper .open-gallery-control, .custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper .thumbnail-wrapper .full-size-control {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 1em;
  height: 1em;
  background-image: url('data:image/svg+xml,<svg data-v-dff6b1ce="" aria-hidden="true" focusable="false" data-prefix="far" data-icon="images" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="uik-icon svg-inline--fa fa-images fa-w-18"><path fill="currentColor" d="M480 416v16c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V176c0-26.51 21.49-48 48-48h16v48H54a6 6 0 0 0-6 6v244a6 6 0 0 0 6 6h372a6 6 0 0 0 6-6v-10h48zm42-336H150a6 6 0 0 0-6 6v244a6 6 0 0 0 6 6h372a6 6 0 0 0 6-6V86a6 6 0 0 0-6-6zm6-48c26.51 0 48 21.49 48 48v256c0 26.51-21.49 48-48 48H144c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h384zM264 144c0 22.091-17.909 40-40 40s-40-17.909-40-40 17.909-40 40-40 40 17.909 40 40zm-72 96l39.515-39.515c4.686-4.686 12.284-4.686 16.971 0L288 240l103.515-103.515c4.686-4.686 12.284-4.686 16.971 0L480 208v80H192v-48z" class=""></path></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(32%) sepia(11%) saturate(2724%) hue-rotate(168deg) brightness(99%) contrast(87%);
  display: none;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper .thumbnail-wrapper .open-gallery-control {
    background-image: none;
    z-index: 3;
    width: 100%;
    height: 100%;
  }
}
.custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper .thumbnail-wrapper .full-size-control {
  background-image: url('data:image/svg+xml,<svg data-v-2e6ce4ea="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="uik-icon svg-inline--fa fa-external-link-alt fa-w-16" data-v-2a724615=""><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z" class=""></path></svg>');
  top: unset;
  bottom: 8px;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper .thumbnail-wrapper .full-size-control {
    display: none !important;
  }
}
.custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper .thumbnail-wrapper:hover .open-gallery-control, .custom-gallery .advance-custom-gallery-wrapper .all-image-wrapper .thumbnail-wrapper:hover .full-size-control {
  display: block;
  cursor: pointer;
}
.custom-gallery .advance-custom-gallery-wrapper .thumbnails-and-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-wrapper .thumbnails-and-content {
    height: fit-content;
  }
}
.custom-gallery .content-sections {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
}
@media screen and (max-width: 767px) {
  .custom-gallery .content-sections {
    flex-direction: column;
  }
}
.custom-gallery .content-sections .content-section {
  width: 100%;
}
.custom-gallery .content-sections p {
  width: 100%;
}
.custom-gallery .content-area {
  border: 1px solid #ebebeb;
  margin-top: 10px;
  background-color: white;
}
.custom-gallery .content-area .content-heading {
  font: 600 14px/3 Sans-serif;
  padding: 0 16px;
  color: #465969;
  background-color: #eef1f3;
}
.custom-gallery .content-area .content-body {
  padding: 8px 16px;
  font: 400 14px/1.5 Sans-serif;
  width: 100%;
  display: block;
}
@media screen and (max-width: 767px) {
  .custom-gallery .content-area .content-body {
    padding: 6px;
  }
}
.custom-gallery .content-area .content-body.fix-height-description {
  height: 74px;
  overflow-y: scroll;
}
.custom-gallery .content-area .content-body table, .custom-gallery .content-area .content-body td, .custom-gallery .content-area .content-body th {
  text-align: left;
  padding: 10px 0 !important;
  border: none !important;
  background-color: #fff !important;
}
.custom-gallery .content-area .content-body th {
  min-width: 175px;
}
.custom-gallery .content-area .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: #44aa4d;
}
.custom-gallery .advance-custom-gallery-popup-wrapper {
  z-index: 100;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.custom-gallery .advance-custom-gallery-popup-wrapper.popup-close {
  display: none;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: min(1100px, 90vw);
  max-height: min(1100px, 90vh);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-button-control {
  position: fixed;
  width: 24px;
  height: 24px;
  padding: 0 6px;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 50%;
  color: #315e88;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-button-control:hover {
  cursor: pointer;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-button-control.gallery-popup-prev-button {
  top: 70px;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-button-control.gallery-popup-prev-button {
    top: unset;
    left: 30px;
    bottom: 70px;
    transform: rotate(-90deg);
  }
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-button-control.gallery-popup-next-button {
  bottom: 15px;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-button-control.gallery-popup-next-button {
    right: 30px;
    transform: rotate(-90deg);
    bottom: 70px;
  }
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .close-button {
  right: 10px;
  top: 10px;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-top-bar {
  min-height: 55px;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-top-bar .gallery-popup-title,
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-top-bar .gallery-popup-results {
  font: 600 1em/1 Sans-serif;
  color: #1d252c;
  padding-right: 1.6em;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content {
    flex-direction: column-reverse;
  }
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-thumbnail-list {
  width: 128px;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: auto;
  position: relative;
  background-color: #eef1f3;
  padding: 1.5em 0.5em 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-thumbnail-list {
    width: 100%;
    height: 200px;
    flex-direction: row;
    overflow-y: hidden;
  }
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-thumbnail-list .popup-thumbnail {
  width: 100%;
  max-width: 80px;
  border-radius: 0.25em;
  border: 1px solid transparent;
  border-bottom-width: 3px;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-thumbnail-list .popup-thumbnail:hover {
  cursor: pointer;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-thumbnail-list .popup-thumbnail.thumbnail-selected {
  border-color: #315e88;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-thumbnail-list .gallery-popup-button-control {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-zoom-controls {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em;
  border: 1px solid #ebebeb;
  border-radius: 0 0 4px 4px;
  background-color: white;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-zoom-controls .gallery-popup-zoom-control {
  width: 24px;
  height: 24px;
  outline: none;
  border: 1px solid #315e88;
  background-color: white;
  border-radius: 50%;
  padding: 0 !important;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-zoom-controls .gallery-popup-zoom-control.double-zoom-control {
    display: none;
  }
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-zoom-controls .gallery-popup-zoom-control:hover {
  cursor: pointer;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-zoom-controls .gallery-popup-zoom-control .gallery-popup-control-icon {
  color: #315e88;
  display: block;
  width: 55%;
  margin: auto;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-canvas-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-canvas-wrapper .gallery-popup-selected-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-canvas-wrapper .gallery-popup-selected-image-canvas {
  display: block;
  aspect-ratio: 1/1;
  position: absolute;
  background-repeat: no-repeat;
  background-color: #040404;
  top: 0;
  left: 0;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .custom-gallery .advance-custom-gallery-popup-wrapper .gallery-popup-content .gallery-popup-canvas-content .gallery-popup-canvas-wrapper .gallery-popup-selected-image-canvas {
    display: none !important;
  }
}

/*# sourceMappingURL=advance-gallery.css.map */
